body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    border:1px solid #5f9341;
    border-radius: 2px;
    padding: 10px 5px;
}

button {
    margin-top: 5px;
    width: 200px;
    font-weight: bold;
    font-size: larger;
    padding:10px 5px;
    word-spacing: 5px;
    border-radius: 5px;
}

#del-btn {
    background-color:white;
    color:#5f9341;
    border:1px solid #5f9341;
  
}

#input-btn {
    background-color:#5f9341;
    color:white;
    border:none;
}

#tab-btn {
    background-color:#5f9341;
    color:white;
    border:none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

li {
    margin-top: 10px;
}

li a {
    color:#5f9341;

}